@import 'fonts';

* {
  box-sizing: border-box;
  font-family: 'Brutal Type', 'Arial', serif;
}

.uk-margin-xlarge-top {
  @include mq('phablet', 'max') {
    margin-top: 37px !important;
  }
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input[type=text], input[type=submit], textarea{
  -webkit-appearance: none;
}
