@font-face {
    font-family: 'Brutal Type';
    font-weight: bold;
    font-style: normal;
    src: url('../../fonts/BrutalType-Bold.eot');
    src: url('../../fonts/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/BrutalType-Bold.woff2') format('woff2'),
    url('../../fonts/BrutalType-Bold.woff') format('woff'),
    url('../../fonts/BrutalType-Bold.ttf') format('truetype'),
    url('../../fonts/BrutalType-Bold.svg#BrutalType-Bold') format('svg');
}

@font-face {
    font-family: 'Brutal Type';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/BrutalType.eot');
    src: url('../../fonts/BrutalType.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/BrutalType.woff2') format('woff2'),
    url('../../fonts/BrutalType.woff') format('woff'),
    url('../../fonts/BrutalType.ttf') format('truetype'),
    url('../../fonts/BrutalType.svg#BrutalType') format('svg');
}

@font-face {
    font-family: 'Brutal Type';
    font-weight: 800;
    font-style: normal;
    src: url('../../fonts/BrutalType-ExtraBold.eot');
    src: url('../../fonts/BrutalType-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/BrutalType-ExtraBold.woff2') format('woff2'),
    url('../../fonts/BrutalType-ExtraBold.woff') format('woff'),
    url('../../fonts/BrutalType-ExtraBold.ttf') format('truetype'),
    url('../../fonts/BrutalType-ExtraBold.svg#BrutalType-ExtraBold') format('svg');
}
