@keyframes bounce {
  from {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 5px;
    opacity: 1;
  }
  to {
    top: -26px;
    right: -26px;
    bottom: -26px;
    left: -26px;
    border-width: 2px;
    opacity: 0;
  }
}

@include mq('tablet', max) {
  @keyframes bounce {
    from {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-width: 3px;
      opacity: 1;
    }
    to {
      top: -20px;
      right: -20px;
      bottom: -20px;
      left: -20px;
      border-width: 1px;
      opacity: 0;
    }
  }
}

@include mq('phablet', max) {
  @keyframes bounce {
    from {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-width: 1px;
      opacity: 1;
    }
    to {
      top: -12px;
      right: -12px;
      bottom: -12px;
      left: -12px;
      border-width: 1px;
      opacity: 0;
    }
  }
}

@include mq('phone', max) {
  @keyframes bounce {
    from {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-width: 1px;
      opacity: 1;
    }
    to {
      top: -7px;
      right: -7px;
      bottom: -7px;
      left: -7px;
      border-width: 1px;
      opacity: 0;
    }
  }
}
