.c-about-short {
  display: flex;

  @include mq('tablet', max) {
    align-items: center;
    flex-direction: column;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    flex-grow: 1;
    width: 100%;

    @include mq('tablet', max) {
      order: 2;
      width: 55%;
      margin-top: -100px;
    }

    @include mq('tablet-small', max) {
      width: 65%;
    }

    @include mq('phablet', max) {
      width: 80%;
    }

    @include mq('phone-wide', max) {
      width: 100%;
    }

    &-info {
      box-sizing: border-box;
      max-width: 445px;
      padding: 10px;

      @include mq('tablet-wide', max) {
        max-width: 335px;
      }


      @include mq('phone-wide', max) {
        box-sizing: content-box;
        max-width: 300px;
        padding: 15px;
      }
    }
  }

  &__img {
    position: relative;
    width: 42%;
    flex-shrink: 0;

    @include mq('tablet', max) {
      order: 1;
      width: 55%;
    }

    @include mq('tablet-small', max) {
      width: 65%;
    }

    @include mq('phablet', max) {
      width: 80%;
    }

    @include mq('phone-wide', max) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    span {
      display: none;
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 60%;
      background: $image-gradient;

      @include mq('tablet', max) {
        display: block;
      }
    }
  }

  .c-title {
    margin-bottom: 30px;

    @include mq('phone-wide', max) {
      margin-bottom: 20px;
    }
  }
}
