.c-anchor-menu {
  display: none;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0;
  padding: 0 15px;
  list-style: none;

  @include mq('tablet-wide', max) {
    display: flex;
  }

  @include mq('phone', max) {
    justify-content: space-around;
  }

  li {
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;

    @include mq('phone-wide', max) {
      margin: 0 5px;
      padding: 0 5px;
    }

    a {
      text-transform: uppercase;
      font-size: 18px;
      color: $light-primary-color;

      @include mq('phablet', max) {
        font-size: 14px;
      }

      @include mq('phone-wide', max) {
        font-size: 12px;
      }

      @include mq('phone', max) {
        font-size: 10px;
      }
    }
  }
}
