.c-archive-flag {
  background: $skroll-bar-dark;
  border: 2px solid #CA9023;
  box-sizing: border-box;
  backdrop-filter: blur(16px);
  position: relative;
  display: block;
  max-width: 990px;
  max-height: 710px;
  margin-bottom: 30px;

  @include mq('phablet', max) {
    height: 100%;
    margin-bottom: 0;
  }

  &.is-open {
    & > .c-text {
      display: none;
    }

    .c-archive-flag__handle {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include mq('phablet', max) {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .c-text {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 555px;
    width: 100%;
    transition: all 0.4s ease;

    @include mq('desktop', max) {
      top: 60px;
    }

    @include mq('phablet', max) {
      top: 22px;
      font-weight: bold;
      max-width: 240px;

      br {
        display: none;
      }
    }
  }

  &__handle {
    position: absolute;
    top: 60%;
    left: 45%;
    transition: all 0.4s ease;

    @include mq('phablet', max) {
      top: 54%;
      left: 69%;
    }
  }

  &__svg {
    &-desktop {
      display: block;

      .is-d-none {
        display: none;
      }

      .c-text {
        opacity: 0;
        visibility: hidden;
        top: 50%;
        bottom: auto;
        left: 30%;
      }

      &.is-open {
        .c-text {
          opacity: 1;
          visibility: visible;
        }
      }

      @include mq('phablet', max) {
        display: none;
      }
    }

    &-mobile {
      display: none;

      .is-d-none {
        display: none;
        // position: absolute;
        // bottom: auto;
      }

      .c-text {
        opacity: 0;
        visibility: hidden;
        top: auto;
        bottom: 75px;
      }

      &.is-open {
        .c-text {
          opacity: 1;
          visibility: visible;
        }
      }

      @include mq('phablet', max) {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        svg {
          position: absolute;
          bottom: 0;
          transition-delay: 0.6s;
          transition: all 0.6s ease;

          &.is-icon-move {
            bottom: 150px;
            // top: 0;
          }
        }

        .js-flag-svg-mobile {
          margin-bottom: 25px;
        }
      }
    }
  }

  .js-flag {
    cursor: grab;

    &.is-grab {
      cursor: grabbing;
    }
  }
}
