.c-around {
  overflow: hidden;
  .c-title {
    max-width: 768px;
    margin-bottom: 100px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;

    @include mq('phablet', max) {
      display: block;
    }
  }

  &__col {
    width: 33%;
    padding: 15px;
    margin-bottom: 60px;
    box-sizing: border-box;

    .c-card {
      align-items: flex-start;

      .c-text {
        max-width: 300px;
      }
    }

    @include mq('tablet', max) {
      width: 50%;
      padding: 25px;
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.35);
      border: 1px solid $light-primary-color;
      margin-bottom: 0;
    }

    @include mq('phablet', max) {
      width: 100%;
      height: 100%;
    }
  }

  // .slick-list.draggable {
  //   overflow: visible!important;
  // }

  // &__container {
  //   @include mq('phablet', max) {
  //     max-width: 200px;
  //   }
  // }

  .slick-track {
    display: flex;
    align-items: stretch;
    // overflow: visible!important;

    .slick-slide {
      height: auto;
      padding-right: 15px;

      div {
        height: 100%;
      }
    }
  }
}
