.c-authorization {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;

  @include mq('tablet-wide', max) {
    display: none;
  }

  .c-link {
    margin-right: 30px;
    text-transform: uppercase;
  }
}
