.c-ballons {
  position: relative;
  height: 470px;
  width: 430px;

  @include mq('tablet-wide', max) {
    margin: 0 auto;
  }

  @include mq('tablet', max) {
    height: auto;
    width: 100%;
  }

  & > * {
    transition: all 0.5s ease;
  }

  &__animated {

    @include mq('tablet', max) {
      display: none;
    }
  }

  &__static {

    @include mq('tablet') {
      display: none;
    }

    img {
      max-width: 100%;
      height: auto;

      @include mq('tablet', max) {
        display: block;
        margin: 0 auto;
        width: 70%;
      }

      @include mq('phone-wide', max) {
        width: 85%;
      }

      @include mq('phone', max) {
        width: 100%;
      }
    }
  }

  &__first {
    position: absolute;
    top: 0;
    left: 130px;
    z-index: 6;
  }

  &__second {
    position: absolute;
    top: 70px;
    left: 30px;
    z-index: 3;
  }

  &__third {
    position: absolute;
    top: 190px;
    right: 0;
    z-index: 2;
  }

  &__four {
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 2;
  }

  &__cirlce {
    position: absolute;
    background-color: $light-primary-color;
    border-radius: 50%;

    &.v1 {
      width: 148px;
      height: 148px;
      z-index: 5;
      top: 135px;
      left: 150px;
    }

    &.v2 {
      width: 67px;
      height: 67px;
      z-index: 4;
      top: 125px;
      left: 100px;
    }

    &.v3 {
      width: 34px;
      height: 34px;
      z-index: 2;
      top: 52px;
      right: 66px;
    }

    &.v4 {
      width: 14px;
      height: 14px;
      z-index: 1;
      left: 0;
      top: 45px;
    }

    &.v5 {
      width: 14px;
      height: 14px;
      z-index: 1;
      bottom: 100px;
      left: 140px;
    }
  }
}
