.c-best-tools {
  padding: 30px 50px;

  @include mq('desktop', 'max') {
    padding-left: 0;
    padding-right: 0;
  }

  .c-title {
    @include mq('desktop', 'max') {
      text-align: center;
    }

    @include mq('tablet', 'max') {
      text-align: left;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    max-width: 1130px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: 1s ease-in-out;

    @include mq('desktop-wide', 'max') {
      padding-left: 0;
      padding-right: 0;
      margin-top: 70px;
    }

    @include mq('desktop', 'max') {
      justify-content: center;
    }

    @include mq('tablet', 'max') {
      margin-top: 40px;
    }

    @include mq('phablet', 'max') {
      width: 100%;
    }

    &.is-visible {
      @include mq('desktop', 'max') {
        .c-best-tools__cover {
          transition: 1s ease-in-out;
          transform: translateX(-300%);
        }
      }
    }
  }

  &__cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    img {
      box-shadow: 0 20px 52px rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
    }
  }

  &__form {
    position: absolute;
    right: 0;
    top: 0;

    @include mq('tablet', 'max') {
      position: static;
    }

    @include mq('phablet', 'max') {
      width: 100%;
    }
  }
}
