.c-best-tools-cabinet {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 75px 0 120px;
  background-color: $sidebar-color;

  @include mq('tablet', max) {
    padding: 50px 0 65px;
  }

  @include mq('phone-wide', max) {
    padding: 76px 15px 67px;
  }

  &__head {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 380px;
    padding: 20px 28px;
    margin: 0 auto 60px;
    border-bottom: 5px solid $light-primary-color;

    @include mq('desktop-wide', max) {
      max-width: 280px;
      margin-bottom: 80px;
      padding: 10px 20px;
    }

    @include mq('phone', max) {
      max-width: 165px;
      margin-bottom: 40px;
      padding: 0 15px;
    }

    &-img {
      flex-shrink: 0;

      @include mq('desktop-wide', max) {
        width: 112px;
      }

      @include mq('phone', max) {
        width: 67px;
      }
    }

    &-title {
      margin-left: 17px;
      line-height: 110%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      font-family: 'Brutal Type';
      font-size: 24px;
      font-weight: 900;
      color: $light-primary-color;

      @include mq('desktop-wide', max) {
        font-size: 18px;
      }

      @include mq('phone', max) {
        margin-left: 10px;
        line-height: 12px;
        font-size: 10px;
      }
    }
  }

  .c-title {
    max-width: 390px;
    margin: 0 auto 135px;
    text-align: center;

    @include mq('desktop-wide', max) {
      margin-bottom: 80px;
    }

    @include mq('phone-wide', max) {
      max-width: 300px;
      font-size: 14px;
    }

    @include mq('phone', max) {
      margin-bottom: 48px;
    }
  }

  .c-button {
    width: 380px;

    @include mq('phone-wide', max) {
      width: 100%;
    }

    @include mq('phone', max) {
      font-size: 14px;
    }
  }
}
