.c-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 317px;
  height: 67px;
  overflow: hidden;
  line-height: 1.2;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0;

  @include mq('phone-wide', max) {
    width: 100%;
    height: 48px;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.4s ease;
    height: 100%;

    @include mq('phone-wide', max) {
      font-size: 14px;
    }
  }

  &__arrow-prev,
  &__arrow-next {
    transform: translateY(-8%);
    transition: all 0.4s ease-in-out;

    svg {
      fill: $light-primary-color;

      @include mq('phablet', max) {
        width: 17px;
      }
    }
  }

  &__arrow-prev {
    margin-right: 10px;
    transform: translateY(8%) rotate(180deg);
  }

  &__arrow-next {
    margin-left: 10px;
  }

  &:hover {
    text-decoration: none;

    .c-button__arrow-prev {
      transform: translate(-40px, 8%) rotate(180deg);

      @include mq('phablet', max) {
        transform: translate(-65px, -8%) rotate(180deg);
      }
    }

    .c-button__arrow-next {
      transform: translate(40px, -8%);

      @include mq('phablet', max) {
        transform: translate(-65px, -8%);
      }
    }
  }

  &.is-gold {
    background-color: $light-primary-color;

    span {
      color: $white-color;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: $white-color;
      transition: all 0.6s ease-in;
      opacity: 0.4;
      left: 50%;
      transform: skewX(-45deg) translateX(300px);
    }

    &::before {
      width: 71px;
    }

    &::after {
      width: 10px;
      margin-left: 85px;
    }

    &:hover {

      &::before {
        transform: skewX(-45deg) translateX(-350px);
      }

      &::after {
        transform: skewX(-45deg) translateX(-350px);
      }
    }
  }

  &.is-white {
    background-color: $white-color;

    span {
      height: 67px;
      border: 1px solid transparent;
      color: $light-primary-color;

      &:hover {
        border: 4px solid $light-primary-color;
      }

      @include mq('phone-wide', max) {
        height: 48px;
      }
    }
  }

  &.is-empty {
    background-color: transparent;

    span {
      height: 67px;
      border: 4px solid $white-color;
      color: $white-color;

      &:hover {
        border: 4px solid $light-primary-color;
        color: $light-primary-color;
      }

      @include mq('phone-wide', max) {
        height: 48px;
      }
    }
  }

  &.is-google {
    background-color: $google-color;
    color: $white-color;

    svg {
      margin-right: 12px;
    }

    &:not(:hover) {
      #s1, #s2, #s3, #s4 {
        fill: $white-color;
      }
    }

    &:hover {
      background-color: $white-color;
      color: $google-color;
    }
  }

  &.is-small {
    width: 160px;
    height: 48px;
    line-height: 1.2;

    span {
      height: 48px;
    }

    &__arrow-prev {
      margin-right: 7px;
    }

    &__arrow-next {
      margin-left: 7px;
    }

    &:hover {

      .c-button__arrow-prev {
        transform: translate(-20px, 8%) rotate(180deg);
      }

      .c-button__arrow-next {
        transform: translate(20px, -8%);
      }
    }
  }

  &.is-medium {
    width: 222px;
    height: 67px;
    line-height: 1.2;

    @include mq('phablet', max) {
      max-width: 140px;
      max-height: 48px;
    }

    span {
      height: 67px;

      @include mq('phablet', max) {
        max-height: 48px;
      }
    }

    &__arrow-prev {
      margin-right: 7px;
    }

    &__arrow-next {
      margin-left: 7px;
    }

    &:hover {

      .c-button__arrow-prev {
        transform: translate(-25px, 8%) rotate(180deg);
      }

      .c-button__arrow-next {
        transform: translate(25px, -8%);
      }
    }
  }

  &[disabled="true"],
  &.is-disabled {
    cursor: not-allowed;
    background-color: $dark-grey-color;

    span {
      color: $grey-color;

      &:hover {
        border: 0;
      }
    }

    .c-button__arrow-prev,
    .c-button__arrow-next {

      svg {
        fill: $grey-color;
      }
    }

    &:hover {

      .c-button__arrow-prev,
      .c-button__arrow-next {
        transform: translate(0, -8%);
      }
    }
  }

  &.is-full {
    width: 100%;
  }
}
