.c-cabinet-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 74px;
  padding: 0 120px 0 97px;
  background-color: $dark-primary-color;

  @include mq('tablet-wide', max) {
    padding: 0 15px;
  }

  @include mq('tablet-small', max) {
    height: 111px;
  }

  @include mq('tablet-small', max) {
    justify-content: center;
    flex-direction: column;
  }

  .c-logo {
    max-width: 34px;

    @include mq('tablet-small', max) {
      display: none;
    }

    svg {
      fill: $cabinet-grey;
    }
  }

  &__icons {
    display: flex;

    a {
      cursor: pointer;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__copyright {
    max-width: 300px;
    margin-left: 15px !important;
    line-height: 144.03%;
    font-family: 'Brutal Type';
    font-size: 14px;
    color: $cabinet-grey;

    @include mq('tablet-small', max) {
      max-width: 250px;
      margin-bottom: 15px;
      line-height: 153%;
      text-align: center;
      font-size: 12px;
    }
  }
}

