.c-cabinet-sidebar {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 400px;
  height: 100%;
  background-color: $sidebar-color;

  @include mq('desktop-wide', max) {
    width: 360px;
  }

  @include mq('desktop-medium', max) {
    width: 320px;
  }

  @include mq('desktop', max) {
    width: 280px;
  }

  &__list {
    align-self: center;
    width: 210px;
    margin: 0;
    padding: 60px 0;
    list-style: none;

    &-img {
      flex-shrink: 0;
      width: 35px;
      margin-right: 15px;
    }

    &-badge {
      position: absolute;
      top: -20px;
      right: -30px;
      width: 37px;
    }

    li {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        align-items: center;
        line-height: 23px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-family: 'Brutal Type';
        font-size: 15px;
        color: $white-color;
      }

      b {
        position: relative;
      }
    }
  }
}
