.c-card {
  align-items: center;
  display: flex;
  flex-direction: column;

  img {
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 25px;
    top: 0;

    &:hover {
      top: -10px;
    }
  }
}
