.c-card-advanced {
  background: rgba(38, 38, 38, 0.4);
  box-sizing: border-box;
  border: 2px solid #CA9023;
  overflow: hidden;

  &__head {
    position: relative;
    padding: 80px 50px 65px 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65% auto;
    backdrop-filter: blur(16px);

    @include mq('desktop-wide', max) {
      padding: 45px 40px 25px 40px;
    }

    @include mq('tablet', max) {
      padding-top: 70px;
    }

    @include mq('phablet', max) {
      padding: 40px 30px 25px;
    }

    @include mq('phone-wide', max) {
      padding: 30px 15px 25px;
    }

    @include mq('phone', max) {
      background-size: 90% auto;
    }

    .c-text {
      max-width: 530px;

      @include mq('desktop-wide', max) {
        line-height: 124%;
        font-size: 32px;
      }

      @include mq('desktop-wide', max) {
        max-width: 400px;
        font-size: 24px;
      }

      @include mq('phone-wide', max) {
        font-size: 20px;
      }

      @include mq('phone', max) {
        line-height: 170%;
        font-size: 16px;
      }
    }

    .c-title {
      font-weight: bold;
      margin-bottom: 5px;
      display: inline-block;

      @include mq('desktop-wide', max) {
        margin-bottom: 0;
      }

      @include mq('phone-wide', max) {
        margin-bottom: 25px;
      }
    }
  }

  &__bottom {
    background-color: $light-primary-color;
    padding: 50px 50px 40px 60px;

    @include mq('desktop-wide', max) {
      padding: 50px 55px 50px 40px;
    }

    @include mq('tablet', max) {
      padding: 25px 40px 15px;
    }

    @include mq('phablet', max) {
      padding: 25px 30px 15px;
    }

    @include mq('phone-wide', max) {
      padding: 25px 15px 15px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('phone-wide', max) {
      flex-direction: column;
      align-items: flex-start;
    }

    .c-button {
      flex-shrink: 0;

      @include mq('tablet', max) {
        width: 180px;
        max-width: unset;
        height: 48px;
      }

      @include mq('phone-wide', max) {
        width: 100%;
        max-width: 100%;
        height: 67px;
        max-height: unset;
      }

      @include mq('phone', max) {
        height: 48px;
      }

      span {

        @include mq('tablet', max) {
          height: 48px;
        }

        @include mq('phone-wide', max) {
          height: 67px;
          max-height: unset;
        }

        @include mq('phone', max) {
          height: 48px;
        }
      }
    }

    .c-text {
      max-width: 440px;

      @include mq('tablet', max) {
        max-width: 320px;
      }

      @include mq('phone-wide', max) {
        margin-bottom: 25px;
      }

      @include mq('phone', max) {
        max-width: 230px;
        font-size: 12px;
      }
    }
  }
}
