.c-checkbox {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: flex-start;
  color: $white-color;

  &__input {
    display: none;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 10;
    border: 0;
    background-color: transparent;

    &:checked {

      & + .c-checkbox__imitator {
        background-image: url('#{$images}/check.svg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &__imitator {
    box-sizing: border-box;
    flex-shrink: 0;
    position: relative;
    top: 0;
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;
    padding: 4px;
    margin-right: 30px;
    border: 2px solid $light-primary-color;
    background-image: none;

    @include mq('phablet', max) {
      margin-right: 10px;
    }
  }

  &__text {
    display: inline-block;
    max-width: 470px;
    margin: -2px 0 0;
    font-size: 18px;

    @include mq('tablet-wide', max) {
      text-align: left;
    }

    @include mq('phablet', max) {
      font-size: 16px;
    }

    @include mq('phone-wide', max) {
      margin: 0;
      font-size: 14px;
    }

    @include mq('phone', max) {
      font-size: 12px;
    }
  }
}
