.c-citation {
  display: flex;
  max-width: 1472px;
  margin-right: 136px;

  @include mq('desktop-wide', max) {
    max-width: 1304px;
    margin-right: 0;
  }

  @include mq('tablet-wide', max) {
    flex-direction: column;
  }

  @include mq('tablet-small', max) {
    background-color: $dark-primary-color;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__img {
    width: 49.2%;

    @include mq('tablet-wide', max) {
      width: 100%;
    }

    @include mq('tablet-small', max) {
      display: none;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    position: relative;
    width: 50.8%;

    @include mq('tablet-wide', max) {
      width: 100%;
    }

    &-text {
      position: relative;
      max-width: 640px;
      margin-left: -80px;

      @include mq('tablet-wide', max) {
        align-self: flex-end;
        max-width: 510px;
        min-height: 220px;
        margin-top: -180px;
        margin-left: auto;
      }

      @include mq('tablet', max) {
        max-width: 430px;
      }

      @include mq('tablet-small', max) {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: unset;
        margin-top: 0;
        border-top: 2px solid $light-primary-color;
        border-bottom: 2px solid $light-primary-color;
      }

      @include mq('phablet', max) {
        min-height: 150px;
      }
    }

    &-img {
      position: absolute;
      right: 0;
      bottom: 75px;
      @include mq('desktop-wide', max) {
        bottom: 42px;
        width: 120px;
      }

      @include mq('desktop', max) {
        right: 15px;
      }

      @include mq('tablet-wide', max) {
        bottom: 0;
      }

      @include mq('tablet-small', max) {
        bottom: 20px;
      }

      @include mq('phablet', max) {
        bottom: 15px;
        width: 70px;
      }

      svg {
        fill: $white-color;

        @include mq('tablet-small', max) {
          fill: $light-primary-color;
        }
      }
    }
  }

  .c-quote {
    position: absolute;
    top: -50px;
    left: -90px;

    @include mq('desktop', max) {
      top: -20px;
      left: -60px;
    }

    @include mq('tablet', max) {
      top: -10px;
      left: -45px;
    }

    @include mq('tablet-small', max) {
      display: none;
      top: -22px;
      left: -0;
      padding-right: 20px;
      background-color: $dark-primary-color;
    }

    @include mq('phone-wide', max) {
      margin-right: 15px;
    }

    svg {

      @include mq('desktop', max) {
        width: 50px;
      }

      @include mq('tablet', max) {
        width: 35px;
      }

      @include mq('tablet-small', max) {
        width: 45px;
      }
    }

    &.is-empty {
      display: none;

      @include mq('tablet-small', max) {
        display: block;
      }
    }
  }

  .c-title {

    @include mq('tablet-small', max) {
      max-width: 80%;
      margin-top: 30px;
    }

    @include mq('phablet', max) {
      max-width: 245px;
      margin-bottom: 0;
    }

    @include mq('tablet-small', max) {
      font-size: 18px;
    }

    span {
      color: $white-color;
    }
  }

  .c-text {

    @include mq('tablet-small', max) {
      max-width: 80%;
      margin-top: auto;
      margin-bottom: 10px;
      color: $light-primary-color;
    }

    .name {

      @include mq('tablet-small', max) {
        display: block;
        font-weight: 500;
        color: $light-primary-color;
      }
    }

    .comma {

      @include mq('tablet-small', max) {
        display: none;
      }
    }

    a {
      color: #f4f4f4;

      @include mq('tablet-small', max) {
        color: $light-primary-color;
      }
    }
  }
}
