.c-club {
  display: flex;
  position: relative;
  background-color: $white-color;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 60%;

    @include mq('desktop-wide', max) {
      justify-content: flex-start;
      width: 52%;
      padding-left: 125px;
    }

    @include mq('desktop-medium', max) {
      padding-left: 15px;
    }

    @include mq('tablet-wide', max) {
      align-items: flex-start;
      position: relative;
      z-index: 1;
      width: 100%;
      margin-bottom: 150px;
      padding-top: 100px;
      padding-right: 15px;
    }

    @include mq('phone', max) {
      margin-bottom: 100px;
      padding-top: 25px;
    }

    &-text {
      max-width: 750px;

      @include mq('desktop-wide', max) {
        max-width: 585px;
      }

      @include mq('desktop-medium', max) {
        max-width: unset;
      }

      @include mq('tablet-wide', max) {
        max-width: 585px;
      }
    }
  }

  &__img {
    display: flex;
    align-items: flex-end;
    width: 40%;

    @include mq('desktop-wide', max) {
      width: 48%;
    }

    @include mq('tablet-wide', max) {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 50%;
    }

    @include mq('tablet-small', max) {
      width: 75%;
    }

    @include mq('phone', max) {
      width: 85%;
    }
  }

  .c-title {
    margin-bottom: 45px;

    @include mq('desktop-wide', max) {
      margin-bottom: 15px;
    }
  }

  .c-text {
    max-width: 630px;
  }
}
