.c-criteria {
  position: relative;
  padding: 176px 0 216px;
  overflow: hidden;

  @include mq('desktop-wide', max) {
    padding: 123px 0 138px;
  }

  @include mq('phablet', max) {
    padding: 88px 0 51px;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 100%;
    left: 0;
    background-image: url("#{$images}/criteria-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;

    &.is-active {
      animation: bgScale 5s linear;
      animation-fill-mode: forwards;
    }

    img {
      width: 120%;
      height: auto;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include mq('tablet-wide', max) {
      flex-direction: column;
    }
  }

  &__info {
    width: 48.5%;
    padding: 0 15px;

    @include mq('desktop-wide', max) {
      width: 42%;
    }

    @include mq('tablet-wide', max) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__poll {
    width: 51.5%;
    padding: 0 15px;

    @include mq('desktop-wide', max) {
      width: 58%;
    }

    @include mq('tablet-wide', max) {
      width: 100%;
      text-align: center;
    }
  }

  .c-title {
    margin-bottom: 50px;

    @include mq('tablet-wide', max) {
      margin: 0 auto 20px;
      text-align: center;
    }

    @include mq('phone', max) {
      margin-bottom: 24px;
      text-align: left;
    }
  }

  .c-text {
    max-width: 430px;

    @include mq('desktop-wide', max) {
      max-width: 350px;
    }

    @include mq('tablet-wide', max) {
      margin: 0 auto;
      text-align: center;
    }

    @include mq('phone', max) {
      text-align: left;
    }
  }

  .c-checkbox {
    margin-bottom: 48px;

    @include mq('tablet-wide', max) {
      margin-bottom: 38px;
    }

    label {
      max-width: 545px;
      line-height: 25px;
      font-size: 18px;
      color: $white-color;

      @include mq('tablet-wide', max) {
        text-align: left;
      }

      @include mq('phablet', max) {
        font-size: 16px;
      }

      @include mq('phone', max) {
        font-size: 12px;
      }
    }
  }

  .c-button {
    width: 430px;
    height: 72px;
    margin-top: 30px;

    @include mq('phone-wide', max) {
      width: 100%;
    }

    @include mq('phone', max) {
      height: 48px;
      margin-top: 5px;
    }

    span {

      @include mq('phone', max) {
        font-size: 14px;
      }
    }
  }

  .u-container {
    position: relative;
  }
}
