.select2-container {
  width: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: $white-color;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  margin-right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.4s ease;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 2px;
  border-color: #fff;
  transform: translateY(0%) rotate(225deg);
}

.select2-results {
  border: 1px solid $light-primary-color;
  background-color: $white-color;
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: 0;
  padding: 0 20px;
  font-size: 16px;
  background-color: $white-color;
  outline: none;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 265px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $white-color;
}

.select2-results__option {
  padding: 0 20px;
  line-height: 26px;
  font-size: 15px;
  color: $dark-primary-color;
  transition: all 0.3s ease;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $light-grey-color;
  color: $dark-primary-color;
}

.select2-dropdown {
  border-radius: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  margin-top: 5px;
  margin-bottom: 10px;
}

.select2-search--dropdown:not(.select2-search--hide) {
  margin-top: -46px;
}

.c-dropdown {
  display: inline-block;
  box-sizing: border-box;
  min-width: 240px;
  height: 46px !important;
  background-color: transparent !important;
  border: 2px solid $white-color !important;
  border-radius: 0 !important;
  outline: none;

  .select2-selection__rendered {
    line-height: 46px !important;
  }

  .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%);
  }
}
