.с-excellent {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px 15px;
  background-color: $sidebar-color;

  @include mq('desktop-wide', max) {
    padding: 75px 15px 125px;
  }

  @include mq('phone', max) {
    padding: 35px 15px 20px;
  }

  @include mq('phone-wide', max) {
    height: 100%;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 124%;
    text-align: center;
    font-family: 'Brutal Type';
    font-size: 48px;
    color: $white-color;

    @include mq('tablet-wide', max) {
      font-size: 42px;
    }

    @include mq('phablet', max) {
      line-height: 124%;
      font-size: 40px;
    }
  }

  &__text {
    max-width: 430px;
    margin: 0;
    line-height: 32px;
    text-align: center;
    font-family: 'Brutal Type';
    font-size: 18px;
    color: $white-color;

    @include mq('tablet-wide', max) {
      font-size: 16px;
    }

    @include mq('phablet', max) {
      line-height: 170%;
      font-size: 14px;
    }
  }

  svg {

    @include mq('phablet', max) {
      width: 212px;
    }
  }
}
