.c-features-centered {
  padding: 80px 0 70px;
  text-align: center;
  background-color: #262626;
  background-image: url("#{$images}/profit-bg.svg");
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;

  &:after {
    z-index: 2;
    content: "";
    position: absolute;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 35%, #262626 115.76%);
  }



  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px 50px;
  }

  .u-container {
    position: relative;
    z-index: 3;
  }

  .c-title {
    position: relative;
    z-index: 3;
    margin-bottom: 65px;

    @include mq('tablet', max) {
      margin-bottom: 40px;
    }
  }

  .c-card {
    .c-text {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  .slick-dots {
    position: relative;
    bottom: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      height: 2px;
      width: 100%;
      margin: 0 5px;

      &.slick-active {

        button {
          background: $light-primary-color;
        }
      }

      button {
        height: 2px;
        width: 100%;
        background: $mobile-bg-color;
        padding: 0;

        &:before {
          content: none;
        }
      }
    }
  }

  &__item {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 60px;

    &.is-col-6 {
      width: 34%;

      @include mq('tablet', max) {
        width: 100%;
        margin-bottom: 0;
      }
    }

    &.is-col-4 {
      width: 33.33%;

      @include mq('tablet', max) {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  @include mq('tablet', max) {
    padding: 40px 0;
    background-image: none;

    &:after {
      content: none;
    }

    .c-button {
      height: 48px;
    }
  }
}
