.c-fillup {
  position: relative;
  background-color: $light-primary-color;

  &__content {
    display: flex;
    position: relative;
    z-index: 1;
  }

  &__gap {
    width: 40%;

    @include mq('desktop-wide', 'max') {
      width: 55%;
    }

    @include mq('desktop', 'max') {
      width: 58%;
    }

    @include mq('tablet-wide', 'max') {
      width: 0;
    }
  }

  &__title {
    width: 60%;
    padding-top: 90px;
    padding-bottom: 70px;

    @include mq('desktop-wide', 'max') {
      width: 70%;
    }

    @include mq('tablet-wide', 'max') {
      width: 100%;
    }

    @include mq('tablet', 'max') {
      text-align: center;
      padding-top: 38px;
      padding-bottom: 38px;
    }


    .c-title {

      @include mq('desktop', max) {
        font-size: 32px;
      }

      @include mq('tablet-small', max) {
        font-size: 18px;
      }
    }
  }

  &__features {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 4px 0;

    @include mq('tablet', max) {
      display: none;
    }

    &-item {
      height: 9.3%;
      background-color: $dark-primary-color;

      &#feature-1 {
        width: 69px;
      }

      &#feature-2 {
        width: 103px;
      }

      &#feature-3 {
        width: 138px;
      }

      &#feature-4 {
        width: 173px;
      }

      &#feature-5 {
        width: 207px;
      }

      &#feature-6 {
        width: 242px;
      }

      &#feature-7 {
        width: 277px;
      }

      &#feature-8 {
        width: 311px;
      }
    }
  }

  .c-title {
    position: relative;
  }
}
