.c-flag {
  position: relative;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  display: inline-block;
  overflow: hidden;
  background-color: $light-primary-color;
  max-width: 280px;
  min-height: 380px;
  box-sizing: border-box;
  padding: 1px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 82%, 100% 82%, 50% 100%, 50% 100%, 0 82%, 0 82%, 0 0);

  @include mq('tablet', max) {
    clip-path: none;
    background-color: transparent;
    max-width: 100%;
    box-shadow: none;
    min-height: auto;
  }

  @include mq('tablet') {
    &:hover {
      .c-flag__text {
        top: 20px;
        bottom: 0;

        &:after {
          transition: all 0.4s ease;
          background: none;
        }
      }

      .c-flag__subtitle {
        font-size: 18px;
      }

      .c-flag__container {
        &:after {
          content: '';
          transition: all 0.4s ease;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.5)), color-stop(92.76%, #262626));
        }
      }

      .c-flag__number {
        z-index: 2;
      }
    }
  }


  &__container {
    position: relative;
    min-height: 380px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #262626 82.76%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 82%, 100% 82%, 50% 100%, 50% 100%, 0 82%, 0 82%, 0 0);

    @include mq('tablet', max) {
      clip-path: none;
    }

    &:after {
      transition: all 0.4s ease;
      background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #262626 82.76%);
      clip-path: polygon(0 0, 100% 0, 100% 0, 100% 82%, 100% 82%, 50% 100%, 50% 100%, 0 82%, 0 82%, 0 0);
      z-index: 2;
      content: '';
      position: absolute;
      height: 100%;
      left: 0px;
      right: 0px;
      top: 0px;

      @include mq('tablet', max) {
        top: -1px;
        bottom: -1px;
        height: auto;
        clip-path: none;
        background: linear-gradient(0deg, rgba(34, 34, 34, 0) -57%, #262626 60.76%);
      }
    }
  }

  &__number {
    font-family: Brutal Type;
    font-size: 96px;
    line-height: 1.2;
    display: inline-block;
    position: relative;
    z-index: 3;
    color: $white-color;
    padding: 0 24px 0px;

    @include mq('tablet', max) {
      color: $light-primary-color;
      font-size: 14px;
      margin-bottom: 10px;
      padding: 0 15px 0px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    img {
      position: relative;
    }
    @include mq('tablet', max) {
      top: auto;
      bottom: 0;

      img {
        width: 100%;
      }
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.44;
    font-weight: bold;
    margin-bottom: 10px;
    color: $white-color;
  }

  &__text {
    position: absolute;
    transition: all 0.4s ease;
    top: 170px;
    overflow: hidden;
    bottom: 35px;
    z-index: 3;
    padding: 0 24px 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    color: $white-color;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      left: 0px;
      right: 0px;
      top: 0px;
      background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #262626 82.76%);
    }

    p {
      margin: 5px 0;
    }

    @include mq('tablet', max) {
      padding: 0 15px 25px;
      min-height: auto;
      position: relative;
      top: auto;
      bottom: auto;

      &:after {
        content: none;
      }
    }
  }

  &__key {

    img {
      position: absolute;
      z-index: 3;
      right: 0;
      padding: 10px;
      width: 60px;
      height: 60px;
      background-color: $light-primary-color;
    }

    @include mq('tablet', max) {
      display: none;
    }
  }
}
