.c-flags {

  .c-title  {
    text-align: center;
    margin-bottom: 45px;
  }

  .c-text {
    text-align: center;
    margin-bottom: 60px;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mq('desktop-wide', max) {
      justify-content: center;
    }
  }

  &__container {

    @include mq('tablet', max) {
      border: 1px solid $light-primary-color;
      margin: 20px 0;
    }
  }

  &__swipe {
    display: none;
    text-align: center;
    padding-top: 25px;

    @include mq('tablet', max) {
      display: block;
    }

    .c-text {
      position: relative;
      text-transform: uppercase;
      color: $dark-grey-color;

      &:before {
        content: '';
        position: absolute;
        left: -45px;
        top: 3px;
        border: 6px solid transparent;
        border-right: 10px solid $white-color;
      }

      &:after {
        content: '';
        position: absolute;
        right: -45px;
        top: 3px;
        border: 6px solid transparent;
        border-left: 10px solid $white-color;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 15px;

    .is-yellow {
      width: 6px;
      height: 6px;
      display: inline-block;
      background-color: $light-primary-color;
      border-radius: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      left: 50%;
    }

    li {
      position: relative;
      width: 10vw!important;
      padding-top: 10px;
    }

    .slick-slide {

      img {
        margin: 0 auto;
      }

      .is-icon {
        display: block;

        &__key {
          display: none;
        }
      }
    }

    .slick-current {
      // width: 50px!important;

      img {
        width: 50px;
      }

      .is-yellow {
        display: none;
      }

      .is-icon {
        display: none;

        &__key {
          display: block;
        }
      }
    }

    .slick-track {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      // width: 100%;
      //
    }

    .slick-list {
      // overflow: hidden!important;
      // width: 100%;
      padding-right: 88%;
      padding-left: 3px;
    }
  }

  &__col {
    width: 25%;
    padding: 50px 15px;
    box-sizing: border-box;

    @include mq('desktop-wide', max) {
      width: 33.333333%;
    }

    @include mq('tablet-wide', max) {
      width: 50%;
    }

    @include mq('tablet', max) {
      width: 100%;
      padding: 0;
    }

    .c-flag {
      display: block;
      margin: 0 auto;
    }
  }

  .c-flag__number {

    @include mq('tablet', max) {

      &:before {
        content: 'Flag ';
        position: relative;
      }
    }
  }
}
