.c-footer {
  position: relative;
  background-color: $dark-primary-color;

  &__row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 -15px;

    // @include mq('phone-wide', max) {
    //   margin: 0 -20px;
    // }
  }

  &__col {
    box-sizing: border-box;
    padding: 0 15px;

    @include mq('phone-wide', max) {
      padding: 0 20px;
    }

    &-first {
      width: 49%;

      @include mq('tablet-wide', max) {
        width: 70%;
      }

      @include mq('phablet', max) {
        width: 100%;
      }
    }

    &-second {
      width: 29.5%;

      @include mq('tablet-wide', max) {
        display: flex;
        order: 3;
        width: 100%;
        margin-top: 20px;
      }

      @include mq('phablet', max) {
        display: none;
      }

      .c-footer__link {

        &:first-child {

          @include mq('tablet-wide', max) {
            width: 70%;
          }
        }

        &:last-child {

          @include mq('tablet-wide', max) {
            width: 30%;
            padding-left: 20px;
          }
        }
      }
    }

    &-third {
      width: 21.5%;

      @include mq('tablet-wide', max) {
        width: 30%;
      }

      @include mq('phablet', max) {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        width: auto;
        margin-top: 33px;
        padding: 0;
      }

      @include mq('phone-wide', max) {
        margin-top: 14px;
      }
    }
  }

  &__copyright {
    max-width: 350px;

    @include mq('phone-wide', max) {
      max-width: 215px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    margin-top: 18px;

    @include mq('phablet', max) {
      margin: auto;
    }

    &:last-child {

      svg {

        @include mq('phablet', max) {
          margin-right: 0;
        }
      }
    }

    svg {
      margin-right: 15px;
    }

    b {

      @include mq('phablet', max) {
        display: none;
      }
    }
  }

  .c-logo {
    margin-bottom: 42px;

    @include mq('phone-wide', max) {
      max-width: 115px;
    }
  }
}
