.c-form-login {
  background: rgba(38, 38, 38, 0.4);
  border: 2px solid #CA9023;
  backdrop-filter: blur(16px);
  padding: 110px 80px 70px;
  display: flex;
  justify-content: space-between;
  // overflow: hidden;

  @include mq('tablet', 'max') {
    padding: 80px 30px 40px;
  }

  @include mq('phablet', 'max') {
    padding: 0;
    border: none;
    backdrop-filter: none;
    background: none;

  }

  &.is-white {
    color: #fff;
  }

  &.is-cabinet {
    background: $skroll-bar-dark;
    backdrop-filter: none;

    @include mq('phablet', max) {
      padding-top: 70px;
      padding-bottom: 40px;
    }

    .c-form-login__progress {
      @include mq('phablet', max) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .c-form-login__test {
      @include mq('phablet', max) {
        min-height: calc(100vh - 365px);
      }
    }
  }

  &__header {
    margin-bottom: 85px;
    max-width: 450px;

    @include mq('phablet', max) {
      margin-bottom: 30px;
    }
  }

  &__content {
    width: 100%;
  }

  /* for tabs */
  &.no-flex {
    display: block;
  }

  &.is-submit {
    text-align: center;

    .c-form-login__content {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    margin-bottom: 30px;
  }

  &__tab {
    color: $light-primary-color;
    border-bottom: 4px solid $light-primary-color;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;

    &.is-active {
      color: $white-color;
      border-bottom: 4px solid $white-color;
    }
  }

  .is-tab-content {
    position: relative;

    .c-form-login__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;

      &.is-active {
        position: static;
        opacity: 1;
        visibility: visible;
      }
    }

    .c-form-login__buttons {
      justify-content: space-between;

      .is-right {
        margin-left: auto;
      }
    }
  }

  /* tabs end */

  /* for test form */

  &__test {
    margin-top: 52px;

    .is-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &.justify-content-between {
        justify-content: space-between;
      }
    }
  }

  .justify-content-center {
    justify-content: center;
  }

  /* end test form */

  &__body {
    display: flex;
    flex-direction: column;

    .c-error {
      max-width: 450px;
      margin-bottom: 20px;

      @include mq('phablet', max) {
        margin: 0 -30px 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 55px;

    @include mq('phablet', 'max') {
      margin-top: 20px;

      .c-button.is-white span {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
      }

      .c-button__arrow-next {
        margin-right: 0;
      }
    }
  }

  // &__test {
  //   display: flex;
  // }

  &__col {
    padding-right: 25px;
    width: 33%;
    box-sizing: border-box;

    &:last-child {
      padding-right: 0;
    }

    .select2-container {
      width: 100%!important;
    }
    .c-dropdown {
      min-width: auto;
    }
  }

  &__check {
    padding-right: 70px;
    box-sizing: border-box;
  }

  .c-input {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 70px;
    }
  }
  .c-button {
    margin-right: 40px;
    // margin-bottom: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .c-logo {
    width: 300px;
    height: 300px;
    opacity: 0.2;

    @include mq('desktop-wide', max) {
      width: 252px;
      height: 252px;
    }

    img {
      width: 100%;
    }
  }

  .c-text {
    width: 100%;
  }

  @include mq('desktop', 'max') {
    flex-wrap: wrap;

    &__logo {
      display: none;
    }
  }

  @include mq('tablet-wide', max) {
    padding: 80px 30px 40px;
    .select2-container .select2-selection--single {
      min-width: auto;
    }
  }

  @include mq('tablet', max) {
    &__col {
      width: 100%;
      padding-right: 0;
    }

    .c-text {
      margin-bottom: 10px;
    }

    .c-form-login__col .select2-container {
      margin-bottom: 20px;
    }
  }

  @include mq('phablet', max) {
    padding: 0 15px;
    // margin: 0 -15px;
    .is-tab-content {
      // padding: 0 15px;
      margin-bottom: 50px;

      .c-form-login__buttons .is-right {
        width: 100%;
        .c-button.is-medium {
          max-width: none;
          width: 100%;
        }
      }
      // .c-button.is-medium {
      //   width: 100%;
      // }
    }

    &__progress {
      margin-left: -30px;
      margin-right: -30px;
      margin-top: -40px;
    }

    &__test {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      // min-height: calc(~'100vh - 275px');
      min-height: calc(100vh - 275px);
    }

    &__buttons {
      margin-top: auto;
    }

    &__check {
      padding-right: 0;
      width: 50%;
      justify-content: center;
      display: flex;
    }

    &__header {
      .c-title {
        font-size: 14px;
      }
    }

    .c-range__flex {
      margin-top: 35px;
    }
  }
}
