.c-form-criteria {

  .c-checkbox {
    margin-bottom: 48px;

    @include mq('desktop-wide', max) {
      margin-bottom: 36px;
    }

    label {

      @include mq('tablet', max) {
        margin-left: 25px;
      }
    }
  }
}
