.c-form-callback {
  background: $white-color;
  box-shadow: 0 20px 52px rgba(0, 0, 0, 0.4);
  max-width: 500px;
  width: 500px;

  @include mq('desktop-wide', 'max') {
    width: 440px;
  }

  @include mq('desktop', 'max') {
    width: 400px;
  }

  @include mq('phablet', 'max') {
    width: 100%;
  }

  &.is-loading {
    opacity: 0.8;
    cursor: progress;

    & > * {
      pointer-events: none;
    }
  }

  &__header {
    padding: 35px 50px 25px;
    color: $light-primary-color;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $light-primary-color;

    @include mq('desktop-wide', 'max') {
      padding: 15px 25px 20px;
    }

    @include mq('phablet', max) {
      padding: 20px 20px 20px;
    }

    img {
      @include mq('phone', max) {
        width: 45%;
      }
    }

    &-text {
      max-width: 120px;
      font-size: 18px;
      line-height: 110%;
      margin-left: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__body {
    padding: 45px 50px 60px;
    display: flex;
    flex-direction: column;

    @include mq('desktop-wide', 'max') {
      padding: 35px 25px 30px;
    }

    @include mq('phablet', max) {
      padding: 25px 20px 30px;
    }

    &-desc {
      color: $dark-primary-color;
      font-size: 18px;
      line-height: 1.45;
      margin-bottom: 65px;
      max-width: 290px;
      font-weight: bold;

      @include mq('desktop-wide', 'max') {
        margin-bottom: 40px;
      }
    }
  }

  .c-input {
    margin-bottom: 50px;

    span {
      color: $light-grey-color;
    }
  }

  .c-button {
    margin: 0 auto;

    span {
      @include mq('phablet', max) {
        font-size: 14px;
        height: 54px;
      }
    }
  }
}
