.c-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  margin: 0 96px;

  @include mq('desktop-wide', max) {
    height: 97px;
    margin: 0 90px;
  }

  @include mq('tablet-wide', max) {
    margin: 0;
  }

  @include mq('tablet', max) {
    height: 67px;
  }

  &__cabinet-menu {
    display: none;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;

    @include mq('tablet-wide', max) {
      display: flex;
    }

    @include mq('tablet-small', max) {
      margin-top: 10px;
    }

    &-img {
      display: flex;
      align-items: center;
      width: 30px;

      @include mq('tablet', max) {
        width: 25px;
      }

      @include mq('tablet-small', max) {
        display: none;
      }

      svg {
        width: 25px;

        @include mq('tablet', max) {
          width: 20px;
        }
      }
    }

    &-badge {
      position: absolute;
      top: -20px;
      right: -30px;
      width: 37px;

      @include mq('tablet-small', max) {
        width: 30px;
        right: 50%;
        transform: translateX(50%);
      }

      @include mq('phone', max) {
        top: -17px;
        width: 25px;
      }
    }

    li {
      padding: 10px 20px;

      @include mq('tablet-small', max) {
        padding: 10px;
      }

      a {
        display: flex;
        align-items: center;
        color: $white-color;

        @include mq('tablet', max) {
          font-size: 14px;
        }

        @include mq('tablet-small', max) {
          font-size: 12px;
          color: $light-primary-color;
        }

        @include mq('phone', max) {
          font-size: 10px;
        }
      }

      b {
        position: relative;
        margin-left: 10px;
        text-transform: uppercase;

        @include mq('tablet', max) {
          margin-left: 0;
        }
      }
    }
  }

  &__logout-icon {
    display: none;
    align-items: center;
    cursor: pointer;
    box-sizing: content-box;
    padding: 10px;

    @include mq('tablet-wide', max) {
      display: flex;
    }

    @include mq('tablet-small', max) {
      margin-top: 10px;
    }

    svg {
      width: 30px;

      @include mq('tablet-small', max) {
        width: 20px;
      }
    }
  }

  #mobile-menu-icon {
    display: none;
    cursor: pointer;
    box-sizing: content-box;
    width: 35px;
    height: 35px;
    padding: 10px;
    fill: $white-color;

    @include mq('tablet-wide', max) {
      display: block;
    }

    @include mq('tablet', max) {
      width: 24px;
      height: 24px;
    }
  }

  .c-logo {

    @include mq('tablet-wide', max) {
      margin: 0 0 0 10px;
    }

    @include mq('tablet', max) {
      width: 110px;
    }

    @include mq('phone', max) {
      display: none;
    }

    & + .c-logo {
      display: none;

      @include mq('phone', max) {
        display: block;
        width: auto;
        height: 45px;
      }

      img {

        @include mq('phone', max) {
          height: 100%;
        }
      }
    }
  }
}
