.c-hero {
  display: flex;
  align-items: center;
  position: relative;
  z-index: z('hero');

  @include mq('tablet', 'max') {
    flex-direction: column;
    padding-bottom: 70px;
  }

  @include mq('tablet', 'max') {
    background: url("#{$images}/main-bg.jpg") center top no-repeat;
    background-size: 100% auto;
  }

  &__col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;

    @include mq('tablet', 'max') {
      width: 100%;
    }

    &.is-box {
      width: 100%;
      flex-grow: 1;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.7);

        @include mq('tablet', max) {
          display: none;
        }
      }
    }

    &.is-content {
      flex-shrink: 0;
      @include mq('tablet', max) {
        margin-top: -80px;
        text-align: center;
      }
      @include mq('phablet', 'max') {
        margin-top: 15px;
        text-align: left;
      }
    }
  }

  &__box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;


    @include mq('desktop', max) {
      min-height: 600px;
      max-height: 900px;
      height: 100vh;
      display: flex;
      align-items: center;
      padding-top: 60px;
    }

    @include mq('tablet', max) {
      min-height: 1px;
      max-height: none;
      height: auto;
      display: block;
      padding-top: 0;
    }

    @include mq('phablet', 'max') {
      padding: 15px;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: 0;
    z-index: 0;
    max-width: none;

    @include mq('tablet', 'max') {
      display: none;
    }
  }


  &__spinner {
    position: absolute;
    top: 20%;
    z-index: 5;
    left: 100%;
    transform: translateX(-50%);

    @include mq('desktop', 'max') {
      display: none;
    }
  }

  &__content {
    max-width: 520px;
    padding: 380px 0 200px;

    @include mq('desktop-wide', 'max') {
      padding: 380px 40px 200px;
    }

    @include mq('desktop', 'max') {
      padding: 120px 30px 50px;
    }

    @include mq('tablet', max) {
      padding-top: 0;
    }

    @include mq('phablet', 'max') {
      padding: 15px;
    }
  }

  &__text {
    margin-bottom: 40px;
  }

  &__title {
    max-width: 600px;
    margin: 0 auto;
    padding: 260px 0;
    position: relative;
    z-index: 2;

    @include mq('desktop-large', 'max') {
      margin-left: 90px;
      margin-right: 0;
    }

    @include mq('desktop-wide', 'max') {
      margin-left: 160px;
    }

    @include mq('desktop', 'max') {
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }

    @include mq('tablet', max) {
      text-align: center;
      padding: 180px;
    }


    @include mq('phablet', 'max') {
      padding: 0;
      padding-top: 100px;
      text-align: left;
    }
  }

  &__btn {
    padding: 22px 90px;
    background-color: $light-primary-color;
    font-size: 18px;
    text-transform: uppercase;
    color: $white-color;
  }

  .c-button {
    @include mq('tablet-wide', 'max') {
      width: 250px;
    }

    @include mq('phablet', 'max') {
      width: 100%;
    }
  }
}
