.c-how-works {
  display: flex;
  justify-content: space-between;
  background-color: $white-color;

  @include mq('tablet-wide', max) {
    flex-direction: column;
  }

  &__info {

    @include mq('desktop-wide', max) {
      width: 80%;
    }

    @include mq('tablet-wide', max) {
      order: 2;
      width: 100%;
    }

    &-text {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      max-width: 535px;

      @include mq('tablet-wide', max) {
        align-items: center;
        margin: 0 auto;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      flex-direction: column;

      @include mq('phone-wide', max) {
        width: 100%;
      }

      .c-text {
        margin-bottom: 25px;

        @include mq('desktop-wide', max) {
          margin-bottom: 15px;
        }

        @include mq('phone', max) {
          align-self: center !important;
        }
      }
    }
  }

  .c-flap-progress {
    flex-shrink: 0;
    display: block;

    @include mq('desktop-wide', max) {
      flex-shrink: 1;
    }

    @include mq('tablet-wide', max) {
      max-width: 550px;
      margin: 0 auto 40px;
    }

    @include mq('tablet-small', max) {
      width: 100%;
      max-width: unset;
    }
  }

  .c-title {
    margin-bottom: 65px;

    @include mq('desktop-wide', max) {
      margin-bottom: 30px;
    }

    @include mq('tablet-wide', max) {
      position: absolute;
      top: 30px;
    }

    @include mq('phone', max) {
      align-self: flex-start;
      max-width: 250px;
    }
  }

  .c-text {

    @include mq('phone', max) {
      align-self: flex-start;
    }

    @include mq('phablet', max) {
      font-size: 14px;
    }
  }

  .c-button {

    @include mq('phone', max) {
      height: 48px;
      font-size: 14px;
    }
  }

  .c-text:not(.is-gold) {
    margin: 40px 0 88px;

    @include mq('desktop-wide', max) {
      max-width: 400px;
      margin: 15px 0 35px;
    }
  }

  b {
    text-transform: uppercase;
  }
}
