.hs-slider {

  &__row {
    overflow-x: auto;

    ul {
      white-space: nowrap;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 0 5px;
      display: inline-block;
      filter: grayscale(100%);
      transition: all 0.5s ease;

      &:hover {
        filter: grayscale(0);
      }
    }
  }

  &__video {
    max-width: none!important;
    video {
      height: 402px;
      width: auto;
      background-color: black;

      @include mq('tablet-small', max) {
        height: 202px;
      }
    }
  }

  @include mq('tablet-small', max) {
    li {
      max-width: 300px;
      padding-right: 15px;
    }
  }


  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $light-primary-color;
    border-radius: 0;
    height: 10px;
    top: -2px;
  }

  .mCS-light-3.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: $skroll-bar-dark;
  }

  .slick-list {
    padding:0 20% 0 0;
  }

  .slick-slide {
    outline: none;
  }
}
