.c-input {
  position: relative;

  input {
    box-sizing: border-box;
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent;
    padding: 5px 0;
    min-width: 400px;
    line-height: 32px;
    font-size: 18px;
    border-radius: 0;

    @include mq('tablet-small', max) {
      min-width: auto;
      max-width: 400px;
      width: 100%;
    }
  }

  &.is-wide {
    input {
      width: 100%;
      min-width: 1px;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.5s ease;
  }


  &.is-focused {

    input {
      padding-right: 10px;
      padding-left: 10px;
    }

    span {
      top: -12px;
      text-transform: uppercase;
      line-height: 15px;
      letter-spacing: 0.03em;
      font-size: 12px;
    }
  }

  &.is-white {

    input {
      border-bottom: 2px solid $white-color;
      color: $white-color;
    }

    span {
      color: $white-color;
    }
  }

  &.is-gold {

    input {
      border-bottom: 2px solid $light-primary-color;
      color: $dark-primary-color;
    }

    span {
      color: $light-primary-color;
    }
  }

  &.is-error {

    input {
      border-bottom: 2px solid $error-color !important;
    }
  }
}

