.c-journey-box {
  display: flex;
  background-color: $white-color;

  &__right,
  &__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__center {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 1250px;
    padding: 155px 0;
    border: 8px solid $light-primary-color;
    background-color: $white-color;

    @include mq('desktop-wide', max) {
      width: 970px;
      padding: 90px 0;
    }

    @include mq('desktop-medium', max) {
      width: 870px;
      padding: 70px 0;
    }

    @include mq('tablet-wide', max) {
      width: 600px;
      padding: 55px 0;
    }

    @include mq('tablet', max) {
      width: 100%;
    }

    @include mq('phablet', max) {
      padding: 44px 0;
    }

    @include mq('phone', max) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__line {
    width: 100%;

    span {
      display: block;
      width: 100%;
      height: 8px;
      margin-bottom: 8px;
      background-color: $light-primary-color;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .c-title {
    margin-bottom: 90px;

    @include mq('desktop-medium', max) {
      margin-bottom: 50px;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 35px;
    }

    @include mq('phone', max) {
      text-align: center;
    }
  }

  .c-text {
    margin-bottom: 105px;

    @include mq('desktop-medium', max) {
      margin-bottom: 75px;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 60px;
    }

    @include mq('phablet', max) {
      margin-bottom: 30px;
    }

    @include mq('phone', max) {
      text-align: center;
    }
  }

  .c-button {
    width: 350px;

    @include mq('phone', max) {
      width: 100%;
    }
  }
}
