.c-line-card {
  display: flex;
  align-items: flex-start;

  &.is-right {
    flex-direction: row-reverse;
    text-align: right;

    .c-line-card__line {
      margin-right: 0;
      margin-left: 30px;
    }
  }

  &__line {
    flex-shrink: 0;
    width: 166px;
    height: 4px;
    background-color: $light-primary-color;
    margin-right: 30px;
    margin-top: 15px;

    @include mq('desktop-wide', max) {
      width: 120px;
    }

    @include mq('desktop-medium', max) {
      width: 60px;
    }
  }

  &__title {
    color: $light-primary-color;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 25px;
  }

  &__subtitle {
    color: $light-primary-color;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
