.c-link {
  display: inline-block;
  line-height: 144.03%;
  text-decoration: none;
  font-size: 18px;

  @include mq('phone-wide', max) {
    line-height: 17px;
    font-size: 14px;
  }

  &:hover {
    text-decoration: underline;
  }

  &.is-small {
    line-height: 160%;
    font-size: 16px;

    @include mq('phone-wide', max) {
      line-height: 15px;
      font-size: 12px;
    }
  }

  &.is-white {
    color: $white-color;
  }

  &.is-gold {
    color: $light-primary-color;
  }
}
