.c-main-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  @include mq('tablet-wide', max) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;

    li {
      margin: 0 29px;
      padding: 20px;

      @include mq('desktop-medium', max) {
        margin: 0 15px;
        padding: 10px;
      }
    }
  }
}
