.c-map {

  img {
    width: 100%;
  }

  &__data {
    display: none;
    position: absolute;
    color: $white-color;

    &.is-bottom {
      top: 100% !important;
      right: 100% !important;
      left: auto !important;
      visibility: hidden;
      margin-top: 50px;

      @include mq('tablet-wide', max) {
        right: auto !important;
        left: 0 !important;
        visibility: visible;
      }

      @include mq('phone', max) {
        margin-top: 30px;
      }

      .c-map__user {

        &-info {

          @include mq('tablet-wide', max) {
            display: block;
          }
        }

        &-marker {
          width: 22px;
          height: 22px;

          @include mq('phablet', max) {
            width: 15px;
            height: 15px;
          }

          @include mq('phone', max) {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }

  &__user {
    display: flex;
    max-width: 310px;
    min-height: 75px;

    @include mq('desktop-wide', max) {
      min-height: 67px;
    }

    @include mq('desktop', max) {
      min-height: 60px;
    }

    @include mq('tablet', max) {
      min-height: 45px;
    }

    @include mq('phablet', max) {
      min-height: 30px;
    }

    @include mq('phone', max) {
      min-height: 22px;
    }

    &-marker {
      display: block;
      align-self: center;
      position: relative;
      width: 22px;
      height: 22px;
      margin-left: 26px;
      border-radius: 100%;
      background-color: $light-primary-color;

      @include mq('desktop', max) {
        width: 18px;
        height: 18px;
        margin-left: 18px;
      }

      @include mq('tablet', max) {
        width: 15px;
        height: 15px;
        margin-left: 10px;
      }

      @include mq('phablet', max) {
        width: 10px;
        height: 10px;
      }

      @include mq('phone', max) {
        width: 6px;
        height: 6px;
        margin-left: 7px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        border: 5px solid $light-primary-color;
        border-radius: 100%;
        background-color: transparent;
        animation: bounce 1.5s infinite ease-out;
      }
    }

    &-info {
      align-self: flex-end;
      max-width: 230px;
      margin: 0 0 0 35px;
      line-height: 110%;

      @include mq('desktop', max) {
        margin-left: 25px;
      }

      @include mq('tablet-wide', max) {
        display: none;
      }

      b {
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }

      span {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        line-height: 32px;
        color: $white-color;
      }
    }
  }
}
