.c-meeting {

  &__video {
    max-width: 984px;
    margin: 0 auto 184px;
    position: relative;

    @include mq('desktop-wide', max) {
      margin: 0 auto 96px;
    }

    @include mq('tablet', max) {
      display: none;
    }

    .c-video {
      position: relative;
      z-index: 2;
    }
  }

  &__square {
    position: absolute;
    top: -124px;
    right: -124px;
    z-index: 1;
    width: 235px;

    @include mq('desktop-wide', max) {
      max-width: 175px;
      top: -91px;
      right: -83px;
    }

    @include mq('tablet-wide', max) {
      max-width: 110px;
      top: -50px;
      right: -50px;
    }

    @include mq('tablet', max) {
      max-width: 72px;
      top: -36px;
      right: 0px;
    }
  }

  .is-desktop {
    position: relative;
    display: block;

    @include mq('tablet', max) {
      display: none;
    }

    & > img {
      position: absolute;
      left: -110px;
      top: -98px;
      width: 193px;

      @include mq('desktop-large', max) {
        display: none;
      }
    }
  }

  .is-mobile {
    display: none;
    position: relative;

    @include mq('tablet', max) {
      display: block;
    }

    &__swipe {
      margin-top: 35px;
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .c-text {
        color: $dark-grey-color;
        text-transform: uppercase;

      }

      &-arrow {
        position: relative;
        display: inline-block;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border: 6px solid transparent;
        }

        &.is-left {
          left: 20px;

          &:before {
            content: "";
            left: 0;
            border-right: 10px solid #f4f4f4;
          }

          &:after {
            content: "";
            left: 14px;
            border-right: 10px solid #f4f4f4;
          }
        }

        &.is-right {
          right: 20px;

          &:before {
            content: "";
            right: 14px;
            border-left: 10px solid #f4f4f4;
          }

          &:after {
            content: "";
            right: 0;
            border-left: 10px solid #f4f4f4;
          }
        }
      }
    }

    .hs-slider {
      position: relative;
      z-index: 2;
    }
  }

  .c-title {
    max-width: 560px;
    margin-bottom: 80px;
  }
}
