.c-members-counter {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .c-title {
    font-weight: bold;
  }

  .c-text {
    text-transform: uppercase;
    font-weight: bold;
  }
}
