.mobile-menu {
  right: 0;

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background-color: $dark-primary-color;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    &-img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 52.5%;

      img {
        width: 100%;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 67px;
      padding: 30px 15px 0;
    }

    &-articles {
      margin-left: 20px;

      li {
        margin-bottom: 5px;
        color: $light-primary-color;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    height: 122px;
    background-color: $mobile-bg-color;

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      line-height: 12px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      font-family: 'Brutal Type';
      font-size: 10px;
      color: $dark-grey-color;
    }

    &-icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 150px;
    }
  }

  .c-logo {
    max-width: 110px;

    @include mq('tablet') {
      max-width: unset;
    }
  }

  .c-link {

    @include mq('tablet') {
      font-size: 20px;
    }
  }

  .c-main-navigation {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    position: relative;

    ul {
      align-items: flex-start;
      flex-direction: column;
      margin-left: 25px;

      li {
        margin: 0 0 6px 0;
      }
    }
  }

  .c-authorization {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 43px;
    margin-left: 32px;

    @include mq('tablet') {
      margin-bottom: 70px;
    }

    .c-button {
      width: 192px;
    }
  }

  #mobile-menu-close {
    cursor: pointer;
    position: static;
    outline: none;
    user-select: none;
    box-sizing: content-box;
    border: 0;
    background-color: transparent;

    svg {

      @include mq('tablet') {
        width: 30px;
      }

      &:last-child {
        display: none;
      }
    }
  }
}
