.c-navigation {

  &__item {
    margin-bottom: 50px;
    display: flex;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
      text-decoration: none;
    }

    &.uk-active {

      .c-navigation__circle {

        &:after {
          background-color: $light-primary-color;
        }
      }
    }
  }

  &__circle {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $light-primary-color;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      background-color: $white-color;
      border-radius: 50%;
    }
  }

  &__text {
    font-size: 10px;
    text-transform: uppercase;
    color: $light-primary-color;
    max-width: 60px;
  }
}
