.c-personal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 335px;
  padding: 32px 32px 60px 32px;
  border: 0;
  background-color: $dark-primary-color;
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  transition: all 0.4s ease;

  @include mq('desktop-wide', 'max') {
    padding: 32px 32px 25px 32px;
  }

  @include mq('tablet-wide', 'max') {
    height: 270px;
    padding: 25px;
  }

  @include mq('tablet-small', max) {
    height: 210px;
  }

  @include mq('phablet', max) {
    height: 250px;
    padding-bottom: 60px;
  }

  @include mq('phone-wide', max) {
    height: 215px;
  }

  @include mq('phone', max) {
    height: 192px;
    padding: 13px 15px 54px;
  }

  &__title {
    max-width: 525px;
    margin: 0;
    line-height: 38px;
    text-transform: uppercase;
    font-family: 'Brutal Type';
    font-size: 36px;
    color: $white-color;
    font-weight: bold;

    @include mq('desktop-wide', max) {
      max-width: 365px;
    }

    @include mq('desktop', max) {
      max-width: 300px;
      line-height: 30px;
      font-size: 28px;
    }

    @include mq('tablet-small', max) {
      max-width: 250px;
      line-height: 24px;
      font-size: 20px;
      margin-bottom: 4px;
    }

    @include mq('phone-wide', max) {
      max-width: 200px;
      line-height: 20px;
      font-size: 16px;
    }

    @include mq('phone', max) {
      max-width: 150px;
      line-height: 17px;
      font-size: 14px;
    }
  }

  &__icon {
    flex-shrink: 0;
    margin-bottom: 20px;

    @include mq('tablet-wide', max) {
      height: 70px;
    }

    @include mq('tablet-small', max) {
      height: 55px;
    }

    @include mq('phablet', max) {
      height: 35px;
      margin-bottom: 10px;
    }

    img {

      @include mq('tablet-wide', max) {
        height: 100%;
      }
    }
  }

  &__link {
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 300px;
    height: 68px;
    margin-left: 70px;
    padding: 0;
    border: none;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    color: $white-color;
    background-color: $light-primary-color;

    @include mq('desktop', max) {
      width: 250px;
      height: 54px;
      line-height: 54px;
    }

    @include mq('phablet', max) {
      left: 0;
      width: 100%;
      margin: 0;
    }

    @include mq('phone-wide', max) {
      height: 48px;
      line-height: 48px;
    }
  }

  &.is-disabled {
    filter: grayscale(100%);

    .c-personal-card__title {
      color: $disable-color;
    }

    .c-personal-card__link {
      color: $light-grey-color;
      background-color: $disable-color;
    }
  }
}
