.c-possibilities {
  padding-top: 200px;
  background-color: $white-color;

  @include mq('desktop-wide', max) {
    padding-top: 150px;
  }

  @include mq('desktop', max) {
    padding-top: 100px;
  }

  &__container {
    box-sizing: content-box;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;

    @include mq('desktop-wide', max) {
      max-width: 1200px;
    }
  }

  &__row {
    display: flex;
    position: relative;
    margin: 0 -15px;

    @include mq('desktop-large', max) {
      justify-content: flex-end;
    }

    &:first-child {

      @include mq('tablet-wide', max) {
        flex-direction: column;
      }
    }

    &:last-child {
      margin-top: 100px;

      @include mq('desktop', max) {
        margin-top: 50px;
      }

      @include mq('tablet', max) {
        flex-direction: column;
      }

      @include mq('phablet', max) {
        margin-top: 25px;
      }

      .c-text {

        @include mq('desktop-wide', max) {
          margin-left: 50px;
        }

        @include mq('tablet-wide', max) {
          margin-left: 0;
        }

        @include mq('tablet', max) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 15px;

    &-first {
      width: 40%;

      @include mq('desktop-large', max) {
        width: 30%;
      }

      @include mq('desktop-medium', max) {
        width: 40%;
      }

      @include mq('tablet-wide', max) {
        order: 2;
        width: 100%;
        text-align: center;
      }

      .c-text {

        @include mq('desktop-wide', max) {
          max-width: 320px;
        }

        @include mq('tablet-wide', max) {
          max-width: unset;
          margin-top: 20px;
          margin-bottom: 0;
        }

        @include mq('phablet', max) {
          margin-top: 25px;
          text-align: left;
        }
      }
    }

    &-second {
      width: 60%;

      @include mq('tablet-wide', max) {
        width: 60%;
      }

      @include mq('tablet', max) {
        width: 100%;
        text-align: center;
      }

      .c-possibilities__text {
        max-width: 550px;

        @include mq('tablet', max) {
          max-width: unset;
        }
      }

      .c-text {

        @include mq('phablet', max) {
          text-align: left;
        }
      }
    }
  }

  &__img {
    box-sizing: border-box;
    padding: 0 15px;

    &-first {
      width: 60%;

      @include mq('tablet-wide', max) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    &-second {
      position: relative;
      z-index: z('possibilities-image');
      width: 40%;
      margin-bottom: -65px;

      @include mq('desktop-wide', max) {
        width: 30%;
        margin-bottom: -135px;
      }

      @include mq('desktop-medium', max) {
        width: 40%;
      }

      @include mq('tablet-wide', max) {
        width: 40%;
        margin-bottom: 0;
      }

      @include mq('tablet', max) {
        order: 2;
        width: 100%;
      }

      @include mq('phone-wide', max) {
        padding: 0;
      }

      img {
        display: block;
        margin-right: 50px;
        margin-left: auto;

        @include mq('tablet', max) {
          margin: 0 auto;
        }
      }
    }
  }

  &__title {
    margin-bottom: 48px;

    @include mq('desktop-wide', max) {
      line-height: 144%;
      font-size: 36px;
    }

    @include mq('desktop', max) {
      margin-bottom: 30px;
    }

    @include mq('tablet-wide', max) {
      position: absolute;
      top: -65px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mq('tablet', max) {
      width: 100%;
    }

    @include mq('phablet', max) {
      box-sizing: border-box;
      padding: 0 15px;
      text-align: left;
      line-height: 32px;
      font-size: 24px;
    }
  }

  &__text {
    max-width: 510px;
    margin-bottom: 22px;

    @include mq('desktop', max) {
      margin-bottom: 10px;
    }

    @include mq('phablet', max) {
      margin-bottom: 25px;
      text-align: left;
    }
  }

  .c-text:not(.c-possibilities__text) {
    text-transform: uppercase;
  }
}
