.c-profit {
  padding: 150px 0 250px;
  text-align: center;
  background-color: $dark-primary-color;
  background-image: url('#{$images}/profit-bg.svg');
  background-size: cover;
  background-repeat: repeat-y;

  @include mq('desktop-wide', max) {
    padding: 115px 0 130px;
  }

  @include mq('tablet-wide', max) {
    padding: 80px 0 100px;
  }

  @include mq('phablet', max) {
    padding: 50px 0 70px;
  }

  @include mq('phone', max) {
    padding: 77px 0 44px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    width: 25%;
    padding: 0 15px;

    @include mq('tablet-wide', max) {
      width: 50%;
      margin-bottom: 50px;
    }

    @include mq('phone', max) {
      margin-bottom: 40px;
    }
  }

  .c-title {
    margin-bottom: 250px;
    text-align: center;

    @include mq('desktop-wide', max) {
      margin-bottom: 160px;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 120px;
    }

    @include mq('phablet', max) {
      margin-bottom: 80px;
    }

    @include mq('phone', max) {
      margin-bottom: 40px;
    }
  }

  .c-card {

    &__name {
      font-weight: bold;
    }

    .c-text:not(.c-card__name) {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
    }

    img {
      height: 78px;

      @include mq('phablet', max) {
        height: 45px;
      }

      @include mq('phone', max) {
        height: 39px;
        margin-bottom: 15px;
      }
    }

    &:first-child {

      img {
        height: 55px;

        @include mq('phablet', max) {
          height: 45px;
        }

        @include mq('phone', max) {
          height: 39px;
        }
      }
    }
  }

  .c-button {
    margin-top: 150px;

    @include mq('desktop-wide', max) {
      margin-top: 85px;
    }

    @include mq('phablet', max) {
      margin-top: 45px;
    }

    @include mq('phone', max) {
      height: 48px;
      margin-top: 15px;
    }
  }
}
