.c-quote {

  &.is-white {

    svg {
      fill: $white-color;
    }

    &.is-empty {

      svg {
        stroke: $white-color;
      }
    }
  }

  &.is-gold {

    svg {
      fill: $light-primary-color;
    }

    &.is-empty {

      svg {
        stroke: $light-primary-color;
      }
    }
  }

  &.is-empty {

    svg {
      fill: transparent;
    }
  }
}
