.c-range {

  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__input {
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    outline: none;
    border: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: $light-primary-color;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.1s;
      border: 2px solid $white-color;
    }

    &:-ms-fill-upper,
    &:-moz-range-track,
    &:-webkit-slider-runnable-track {
      background: $light-primary-color;
    }
  }

  &__cy {
    color: $light-primary-color;
    font-size: 18px;
    margin-left: 20px;
  }

  &__value {
    color: $white-color;
    font-size: 24px;
    line-height: 1.7;
    text-align: center;
  }
}
