.c-social {

  &.is-flex {
    display: flex;
    align-items: center;

    .c-social__item {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;

    span {
      margin-left: 15px;
    }
  }
}
