@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }

}

.c-spinner{
  display: inline-block;
  width: 169px;
  height: 169px;
  background: url("#{$images}/spinner.svg") center center;
  background-size: contain;
  transform-origin: center;
  animation: spinner 8.5s infinite linear;
}
