.c-spiral-gold {
  display: inline-block;
  transform: rotate(0deg);

  &.is-active {
    animation: infiniteRotate 10s infinite linear;
    @include mq('tablet', 'max') {
      animation: none;
    }
  }
}
