.c-test-intro {
  padding-bottom: 50px;

  &__head {
    max-width: 912px;
    margin: 0 auto 240px;

    @include mq('desktop-wide', max) {
      max-width: 768px;
      margin: 0 auto 180px;
    }

    @include mq('tablet-wide', max) {
      margin: 0 auto 100px;
    }

    @include mq('tablet', max) {
      margin: 0 auto 70px;
      padding: 0 15px;
    }
  }

  &__bottom {

    @include mq('tablet-wide', max) {
      // margin: 0 -15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: -40px;
        width: 100%;
        height: 50px;
        background: radial-gradient(171.13% 66.84% at 50% 72.11%, #262626 32.94%, rgba(38, 38, 38, 0) 100%);
      }

      &-dots {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;

        span {
          background-color: $white-color;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 6px;

          &:first-child {
            width: 2px;
            height: 2px;
          }

          &:nth-child(2n) {
            width: 4px;
            height: 4px;
          }

          &:nth-child(3n) {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }
}
