.c-text {
  margin: 0;
  line-height: 32px;
  font-size: 18px;
  color: $dark-primary-color;

  @include mq('desktop', max) {
    font-size: 16px;
  }

  @include mq('phablet', max) {
    line-height: 170%;
    font-size: 14px;
  }

  @include mq('tablet-wide', max) {
    font-size: 16px;
  }

  @include mq('tablet', max) {
    line-height: 24px;
    font-size: 14px;
  }

  @include mq('phablet', max) {
    line-height: 130%;
    font-size: 14px;
  }

  @include mq('phone', max) {
    line-height: 150%;
    font-size: 12px;
  }

  &.is-big {
    line-height: 170%;
    font-size: 24px;

    @include mq('desktop-medium', max) {
      font-size: 22px;
    }

    @include mq('tablet-wide', max) {
      font-size: 20px;
    }

    @include mq('tablet', max) {
      font-size: 18px;
    }

    @include mq('phone-wide', max) {
      font-size: 14px;
    }
  }

  &.is-small {
    line-height: 170%;
    font-size: 16px;

    @include mq('phone-wide', max) {
      line-height: 153%;
      font-size: 12px;
    }
  }

  &.is-white {
    color: $white-color;
  }

  &.is-gold {
    color: $light-primary-color;
  }
}
