.c-theory {
  margin: 150px 0;
  background-image: url('#{$images}/spiral-animation.svg');
  background-position: top;
  background-repeat: no-repeat;

  @include mq('tablet', max) {
    background: none;
    margin: 0;
  }

  .u-container {
    position: relative;

    @include mq('desktop-wide', max) {
      box-sizing: content-box;
      max-width: 1150px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 200px;
    justify-content: center;

    @include mq('desktop-wide', max) {
      margin-bottom: 150px;
    }

    @include mq('desktop-medium', max) {
      margin-bottom: 50px;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 100px;
    }

    @include mq('tablet', max) {
      margin-bottom: 50px;
    }

    &:not(.is-active) {

      @include mq('tablet', max) {
        display: none;
      }
    }

    &:not(.is-reverse) {

      .c-theory__col {

        &:first-child {

          @include mq('desktop-large', max) {
            padding-left: 60px;
          }

          @include mq('desktop-wide', max) {
            padding-left: 30px;
          }

          @include mq('desktop-medium', max) {
            padding-left: 0;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.is-reverse {
      flex-direction: row-reverse;

      @include mq('tablet', 'max') {
        flex-direction: column;
      }

      .c-theory__col {

        &:last-child {

          @include mq('desktop-large', max) {
            padding-left: 60px;
          }

          @include mq('desktop-wide', max) {
            padding-left: 30px;
          }

          @include mq('desktop-medium', max) {
            padding-left: 0;
          }
        }
      }
    }
  }

  &__tab-title {

    @include mq('tablet', max) {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 50px;

    @include mq('tablet') {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $mobile-bg-color;
      opacity: 0.5;
    }

    button {
      position: relative;
      font-size: 18px;
      height: 30px;
      color: $dark-grey-color;
      background: none;
      border: none;
      outline: none;
      font-weight: 700;
      padding: 0;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: all 0.6s ease;

      &.is-active {
        border-bottom: 2px solid $light-primary-color;
        color: $light-primary-color;
      }

      @include mq('phablet', max) {
        font-size: 16px;
      }

      @include mq('phone-wide', max) {
        font-size: 14px;
      }
    }
  }

  &__col {
    width: 50%;
    padding: 0 15px;

    @include mq('tablet-wide', max) {
      width: 100%;
    }

    @include mq('tablet', max) {
      padding: 0;
    }
  }

  .c-title {
    max-width: 745px;
    margin-bottom: 200px;

    @include mq('desktop-large', max) {
      padding-left: 60px;
    }

    @include mq('desktop-wide', max) {
      margin-bottom: 150px;
      padding-left: 30px;
    }

    @include mq('desktop-medium', max) {
      margin-bottom: 80px;
      padding-left: 0;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 100px;
    }

    @include mq('tablet', max) {
      margin-bottom: 50px;
    }

    @include mq('phone', max) {
      max-width: 250px;
    }

    br {
      display: none;

      @include mq('phone', max) {
        display: block;
      }
    }
  }

  .is-center{
    text-align: center;
  }

  .c-line-card {

    p {

      @include mq('tablet', max) {
        font-size: 14px;
      }
    }

    &__line {

      @include mq('tablet', max) {
        display: none;
      }
    }

    &.is-right {

      @include mq('tablet', max) {
        text-align: left;
      }
    }
  }

  .c-spiral-gold {

    @include mq('tablet', max) {
      max-width: 70%;
    }
  }
}
