.c-title {
  margin: 0;
  line-height: 124%;
  font-size: 48px;
  color: $dark-primary-color;

  @include mq('tablet-wide', max) {
    font-size: 32px;
  }

  @include mq('tablet', 'max') {
    font-size: 30px;
  }

  @include mq('phablet', 'max') {
    line-height: 32px;
    font-size: 24px;
  }

  &.is-large {
    line-height: 124px;
    font-size: 96px;

    @include mq('tablet-wide', max) {
      line-height: 108px;
      font-size: 82px;
    }

    @include mq('tablet', max) {
      font-size: 56px;
      line-height: 1.2;
    }
  }

  &.is-small {
    line-height: 32px;
    font-size: 24px;

    @include mq('phablet', 'max') {
      font-size: 20px;
    }
  }

  &.is-white {
    color: $white-color;

    span {
      color: $light-primary-color;
    }
  }

  &.is-gold {
    color: $light-primary-color;

    span {
      color: $white-color;
    }
  }
}
