.c-travel {
  background-color: $white-color;

  img {
    width: 100%;
  }

  &__small {
    @include mq('tablet', 'max') {
      display: block !important;
    }
  }

  &__big {
    @include mq('tablet', 'max') {
      display: none;
    }
  }
}
