.c-upwork-stats {
  position: relative;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  @include mq('desktop-wide', max) {
    max-width: 960px;
  }

  @include mq('tablet-small', max) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
  }

  &__text {
    position: absolute;

    @include mq('tablet-wide', max) {
      display: flex;
      align-items: center;
    }

    @include mq('tablet', max) {
      align-items: flex-start;
    }

    &-first {
      top: 127px;
      left: 142px;
      max-width: 300px;

      @include mq('desktop-wide', max) {
        top: 88px;
        left: 80px;
      }

      @include mq('tablet-wide', max) {
        top: 60px;
        right: 45px;
        left: 45px;
        max-width: unset;
      }

      @include mq('phablet', max) {
        right: 30px;
        left: 30px;
      }

      @include mq('phone-wide', max) {
        top: 85px;
      }
    }

    &-second {
      right: 95px;
      bottom: 152px;
      max-width: 275px;

      @include mq('desktop-wide', max) {
        right: 72px;
        bottom: 112px;
      }

      @include mq('tablet-wide', max) {
        top: 150px;
        right: 45px;
        bottom: unset;
        left: 45px;
        max-width: unset;
      }

      @include mq('phablet', max) {
        right: 30px;
        left: 30px;
      }

      @include mq('phone-wide', max) {
        top: 175px;
      }
    }

    &-header {

      @include mq('tablet-wide', max) {
        flex-shrink: 0;
        width: 200px;
      }

      @include mq('tablet', max) {
        width: 140px;
      }

      @include mq('phablet', max) {
        width: 110px;
      }

      @include mq('phone-wide', max) {
        width: 85px;
      }
    }
  }

  &__img {

    @include mq('tablet-small', max) {
      object-fit: cover;
      width: 100%;
      max-width: unset;
      height: 100%;
    }
  }

  .c-text {
    margin: 0;
    font-family: 'Brutal Type';

    @include mq('phablet', max) {
      font-size: 14px;
      line-height: 170%;
    }

    @include mq('phone-wide', max) {
      margin-left: 20px;
    }
  }

  .c-title {
    font-family: 'Brutal Type';

    &.is-large {
      line-height: 1;
      font-weight: 800;

      @include mq('tablet-wide', max) {
        flex-shrink: 0;
        width: 200px;
      }

      @include mq('tablet', max) {
        width: 140px;
      }

      @include mq('phablet', max) {
        width: 110px;
        font-size: 48px;
      }

      @include mq('phone-wide', max) {
        width: 85px;
      }

      & + span {
        line-height: 1;
      }
    }
  }

  &__logo {
    position: absolute;
    bottom: 77px;
    left: 49%;
    transform: translateX(-50%);

    @include mq('desktop-wide', max) {
      bottom: 38px;
      left: 50%;
    }

    @include mq('tablet-wide', max) {
      bottom: 30px;
    }

    svg {
      fill: $white-color;

      @include mq('phablet', max) {
        fill: $light-primary-color;
      }
    }
  }

  .c-quote {
    position: absolute;
    top: -80px;
    right: -25px;

    @include mq('desktop-wide', max) {
      top: -60px;
      right: -45px;
    }

    @include mq('desktop-wide', max) {
      top: -40px;
      right: -30px;
    }

    @include mq('tablet-wide', max) {
      right: 50%;
      transform: translateX(50%);
    }

    @include mq('tablet', max) {
      top: -30px;
    }

    svg {

      @include mq('desktop-wide', max) {
        width: 138px;
      }

      @include mq('desktop', max) {
        width: 100px;
      }

      @include mq('tablet', max) {
        width: 75px;
      }

      @include mq('phablet', max) {
        width: 60px;
      }
    }
  }
}
