.c-user {
  display: flex;
  align-items: center;

  svg {
    margin-right: 15px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &-company {
      font-size: 10px;
      line-height: 1;
      text-transform: uppercase;
      color: $light-primary-color;
    }

    &-name {
      line-height: 1;
      font-size: 16px;
      font-weight: bold;
      color: $white-color;
    }
  }
}
