.c-who {

  &__row {
    display: flex;
    margin-bottom: 65px;

    @include mq('desktop', max) {
      margin-bottom: 40px;
    }
  }

  &__text {
    padding-left: 80px;

    @include mq('desktop-wide', max) {
      padding-left: 55px;
    }

    @include mq('tablet-wide', max) {
      padding-left: 15px;
    }
  }

  .c-text {
    box-sizing: border-box;
    max-width: 575px;
    line-height: 144.03%;
  }

  .c-title {
    width: 48%;
    margin-bottom: 100px;
    text-align: right;

    @include mq('desktop-wide', max) {
      width: 49%;
      padding-left: 85px;
    }

    @include mq('desktop-medium', max) {
      padding-left: 0;
    }

    @include mq('desktop', max) {
      width: 50%;
      margin-bottom: 55px;
      font-size: 36px;
    }

    @include mq('tablet-wide', max) {
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  .c-stopline {
    flex-shrink: 0;
    width: 48%;
    height: 81px;

    @include mq('tablet-wide', max) {
      width: 18%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
