.c-world-wide {
  padding: 50px 0;

  &__content {
    display: flex;
    margin-top: 70px;

    @include mq('desktop-large', max) {
      padding-left: 50px;
    }

    @include mq('desktop-wide', max) {
      padding-left: 135px;
    }

    @include mq('desktop-medium', max) {
      padding-left: 0;
    }

    @include mq('tablet-wide', max) {
      flex-direction: column;
    }
  }

  &__counter {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq('tablet-wide', max) {
      align-items: flex-end;
      margin-top: 50px;
    }

    @include mq('phablet', max) {
      margin-top: 60px;
    }

    @include mq('phone-wide', max) {
      margin-top: 53px;
    }

    @include mq('phone', max) {
      margin-top: 120px;
    }

    .c-button {

      @include mq('phone', max) {
        width: 100%;
        max-width: unset;
      }

      span {

        @include mq('phablet', max) {
          font-size: 15px;
        }
      }

      br {

        @include mq('phone', max) {
          display: none;
        }
      }
    }

    .c-members-counter {

      @include mq('tablet-wide', max) {
        display: none;
      }
    }
  }

  &__map {
    position: relative;

    .c-members-counter {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      align-items: center;

      @include mq('tablet-wide', max) {
        display: flex;
      }
    }
  }

  .c-title {

    @include mq('desktop-large', max) {
      padding-left: 50px;
    }

    @include mq('desktop-wide', max) {
      padding-left: 135px;
    }

    @include mq('desktop-medium', max) {
      padding-left: 0;
    }
  }
}
