.l-around {
  padding: 120px 0 60px;

  @include mq('desktop-wide', max) {
    padding: 85px 0 15px;
  }

  @include mq('tablet', max) {
    padding: 55px 0 15px;
  }

  @include mq('phablet', max) {
    padding: 45px 0 120px;
  }
}
