.l-cabinet {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  &__head {
    background-color: $dark-primary-color;

    .c-logo {

      @include mq('tablet-wide', max) {
        max-width: 115px;
      }
    }
  }

  &__sidebar {
    flex-shrink: 0;

    @include mq('tablet-wide', max) {
      display: none;
    }
  }

  &__body {
    display: flex;
    flex-grow: 1;
    overflow: auto;
  }

  &__content {
    flex-grow: 1;
    overflow: auto;
    background-image: url("#{$images}/cabinet-bg.svg");
    background-repeat: repeat-y;
    background-size: cover;
    padding: 65px 105px;

    @include mq('desktop-wide', max) {
      padding: 48px 56px;
    }

    @include mq('tablet-wide', max) {
      padding: 30px;
    }

    @include mq('tablet', max) {
      padding: 0px;
    }
  }

  &__inner {
    max-width: 880px;

    @include mq('desktop-wide', max) {
      max-width: 750px;
    }

    @include mq('tablet-wide', max) {
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }

  }

  .c-personal-card {
    margin-bottom: 65px;

    @include mq('desktop-wide', max) {
      margin-bottom: 48px;
    }

    @include mq('tablet', max) {
      margin-left: 15px;
      margin-right: 15px;
    }

    @include mq('tablet-wide', max) {
      margin-bottom: 30px;
    }

    @include mq('phone', max) {
      margin-bottom: 25px;
    }

    &:first-child {
      @include mq('tablet', max) {
        margin-top: 20px;
      }
    }

    &:last-child {
      margin-bottom: 0;
      @include mq('tablet', max) {
        margin-bottom: 30px;
      }
    }
  }

  .c-user {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 130px;

    @include mq('desktop-medium', max) {
      margin-right: 60px;
    }

    @include mq('tablet-wide', max) {
      display: none;
    }
  }
}
