.l-full-size {
  min-height: 100vh;
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::after {

      @include mq('phablet', max) {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,0.2);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include mq('phablet', max) {
        filter: blur(5px);
      }
    }
  }

  &__header {
    position: relative;
    background: $dark-primary-color;
  }

  &__content {
    position: relative;
    width: 1072px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    @include mq('desktop-wide', max) {
      width: 928px;
    }

    @include mq('desktop', max) {
      width: 100%;
      margin-top: 65px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__footer {
    background-color: $dark-primary-color;
  }
}
