.l-how-works {
  position: relative;
  padding: 260px 0 250px;
  background-color: $white-color;

  @include mq('desktop-wide', max) {
    padding: 160px 0 150px;
  }

  @include mq('tablet-wide', max) {
    padding: 110px 0 50px;
  }
}
