.l-meeting {
  padding: 145px 0 120px;

  @include mq('desktop-wide', max) {
    padding: 100px 0 85px;
  }

  @include mq('tablet', max) {
    padding: 65px 0 35px;
  }

  @include mq('phablet', max) {
    padding-top: 20px;
  }
}
