.l-navigation {
  position: fixed;
  z-index: z('navigation');
  left: 38px;
  height: 100vh;
  display: flex;
  align-items: center;

  @include mq('desktop-medium', 'max') {
    display: none;
  }

  .c-navigation__item {

    &:first-child {
      display: none;
    }
  }
}
