.l-travel {
  overflow: hidden;

  @include mq('phablet', max) {
    height: 188px;
  }

  .c-travel {
    margin-bottom: -1px;

    @include mq('phablet', max) {
      height: 100%;
      width: 195%;
    }

    img {

      @include mq('phablet', max) {
        height: 100%;
        width: auto;
      }
    }
  }
}
