.l-upwork-stats {

  .c-upwork-stats {
    margin-bottom: -315px;

    @include mq('desktop-wide', max) {
      margin-bottom: -95px;
    }

    @include mq('tablet-wide', max) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
