.l-who {
  padding: 120px 0;

  @include mq('desktop-wide', max) {
    padding: 85px 0;
  }

  @include mq('tablet', max) {
    padding: 55px 0;
  }

  @include mq('phablet', max) {
    padding: 55px 0 45px;
  }
}
