.p-intro {

  .l-full-size {
    background-color: $white-color;
  }

  .l-full-size__bg {
    bottom: 54%;

    @include mq('desktop-wide', max) {
      bottom: 60%;
    }

    @include mq('tablet-wide', max) {
      bottom: 50%;

      img {
        filter: blur(0px);
      }
    }

    @include mq('phablet', max) {
      bottom: 40%;
    }
  }

  .l-full-size__content {
    width: auto;
    margin-top: 0;
    padding: 95px 200px 35px;

    @include mq('desktop-wide', max) {
      padding: 110px 145px 130px;
    }

    @include mq('desktop-medium', max) {
      padding: 50px 100px 80px;
    }

    @include mq('tablet-wide', max) {
      padding: 50px 0;
    }
  }
}
