.p-tools {
  width: 100vw;
  height: 100vh;

  .l-cabinet__content {
    padding: 75px 105px;

    @include mq('desktop-wide', max) {
      padding: 48px 56px;
    }

    @include mq('tablet', max) {
      padding: 24px 28px;
    }

    @include mq('phone-wide', max) {
      padding: 0;
    }
  }

  .l-cabinet__inner {

    @include mq('phone-wide', max) {
      height: 100%;
    }
  }
}
