// ----------------------------
// Site params
// ----------------------------
$default-font-size: 16px;

// ----------------------------
// Container params
// ----------------------------

$images: '../../storage/app/public/common';
// ----------------------------
// Colors
// ----------------------------
$light-primary-color: #ca9023;
$dark-primary-color: #262626;

$white-color: #f4f4f4;
$grey-color: #bdbdbd;
$dark-color: #2c2c2c;
$skroll-bar-dark: #404040;
$light-grey-color: #d0d0d0;
$dark-grey-color: #8b8b8b;

$grey-bg-color: #e5e5e5;
$mobile-bg-color: #323232;

$error-color: #eb5757;
$google-color: #4181ee;

$cabinet-grey: #787878;
$sidebar-color: #404040;

$image-gradient: linear-gradient(180deg, rgba(38, 38, 38, 0) 0%, rgba(38, 38, 38, 0.78) 51.04%, #262626 100%);
$disable-color: #4F4F4F;

// ----------------------------
// Media Breakpoints
// ----------------------------
$breakpoints: (
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1025px,
  'desktop': 1200px,
  'desktop-medium': 1240px,
  'desktop-wide': 1441px,
  'desktop-large': 1751px,
);

// ----------------------------
// z-index priority
// ----------------------------
$z-indexes: (
  'navigation',
  'site-header',
  'hero',
  'possibilities-image'
 );
