.u-container {
  max-width: 1500px;
  padding-left: 90px;
  padding-right: 90px;
  margin-left: auto;
  margin-right: auto;

  @include mq('desktop-wide', 'max') {
    max-width: 1110px;
  }

  @include mq('tablet', 'max') {
    padding-left: 15px;
    padding-right: 15px;
  }
}
